{% extends 'base.html.twig' %}

{% block header %}

    <h1 class="">PHP Symfony</h1>

{#    <hr class="{{ bg_color }}">#}

{#    <div class="row">#}

{#        <div class="col-10">#}
{#            <a href="{{ path('running_lap_index') }}" class="btn {{ btn_color }}" >Laps</a>#}
{#            <a href="{{ path('running_product_index') }}" class="btn {{ btn_color }}" >Products</a>#}
{#            <a href="{{ path('running_calculation_index') }}" class="btn btn-warning" >Calculations</a>#}
{#        </div>#}
{#        <div class="col-2 text-right">#}
{#            <a href="{{ path('running_index') }}" class="btn btn-light {{ text_color }}">Home</a>#}
{#        </div>#}

{#    </div>#}

{#    <hr class="{{ bg_color }}">#}

{% endblock %}

{% block body %}

Main body

{% endblock %}